body {
  background-color: hsl(217, 54%, 11%);
  color: white;
  font: 18px "Outfit", sans-serif;
}

.card {
  /* border-radius: 0.5; */
  background-color: hsl(216, 50%, 16%);
  border: 3px solid red;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.card #logo,
.card h2,
.card p,
.card #ETH_timeLeft,
hr,
#footer {
  /* https://blog.hubspot.com/website/center-an-image-in-html */
  /* Method 2: Using the Margin Property
      Let’s say you have a very large image that you want to center. In that case, wrapping the image in a block element wouldn’t be the best option. Instead, you’d want to define the image with the CSS display property and set it to "block.” Here’s how to center an image using the margin property.
      Step 1: Before setting the margins, set the width of the image to a fixed amount so it doesn’t span the viewport. In this case, I’ll use the percentage value of 60%. 
      Step 2: Set the CSS margin property by defining the image with the CSS display property and set it to "block.” This will tell the browser to treat the image as if it were a block element, not an inline element, thus allowing you to use the CSS margin property.
      Step 3: Set the left and right margins to "auto” so that they’re equal. */
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card #logo {
  border-radius: 10px;
  border: 3px solid green;
}

.card h2 {
  border: 3px solid cyan;
}

.card p {
  color: hsl(215, 51%, 70%);
  border: 3px solid lightgreen;
}

.card #ETH_timeLeft {
  overflow: hidden;
  /* border: 3px solid pink; */
}

.icon {
  padding-right: 5%;
}
#ETH {
  float: left;
  color: hsl(178, 100%, 50%);
  width: 45%;
  /* force word wrap within div borders when string is too long */
  /* does not work when using inline-flex to vertically align elements */
  /* overflow-wrap: break-word; */

  /* Vertically align text  */
  /* Can vertically align text but if string is too long it overflows beyond div borders */
  display: inline-flex;
  align-items: center;
  /* Did not vertically align text
      display: inline-block;
      vertical-align: middle; 
      */
  border: 3px solid yellow;
}

#timeLeft {
  float: right;
  color: hsl(215, 51%, 70%);
  width: 45%;
  text-align: right;
  /* force word wrap within div borders when string is too long */
  /* does not work when using inline-flex to vertically align elements */
  overflow-wrap: break-word;

  /* Vertically align text  */
  display: inline-flex;
  align-items: center;

  border: 3px solid purple;
}

hr {
  background-color: hsl(215, 51%, 70%);
  border: none;
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#footer img {
  height: 50px;
}
